*.swp
*.html
*.so
*.c
*build
stats*
__pycache__
examples
samples
logs
outputs
*.DS_Store
*/assign_build
*.txt
*.zip
3_assign/1_global_alignment_with_a_fixed_indel_penalty/__MACOSX/._1_global_alignment_with_a_fixed_indel_penalty
3_assign/1_global_alignment_with_a_fixed_indel_penalty/__MACOSX/1_global_alignment_with_a_fixed_indel_penalty/._Debugging
3_assign/1_global_alignment_with_a_fixed_indel_penalty/__MACOSX/1_global_alignment_with_a_fixed_indel_penalty/._Submissions
3_assign/1_global_alignment_with_a_fixed_indel_penalty/__MACOSX/1_global_alignment_with_a_fixed_indel_penalty/Debugging/._inputs
3_assign/1_global_alignment_with_a_fixed_indel_penalty/__MACOSX/1_global_alignment_with_a_fixed_indel_penalty/Debugging/._outputs
3_assign/1_global_alignment_with_a_fixed_indel_penalty/__MACOSX/1_global_alignment_with_a_fixed_indel_penalty/Submissions/._testcases
